*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navBar{
    width: 100%;
    height: 60px;
    margin-top: 22px;
    display: flex;
}

.logo{
    width: 39%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    margin-right: 20px;
}

.menuBar{
    width: 71%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 400;
    font-size: 24px;
}

.menuBar a{
    text-decoration: none;
    color: #000000;
}

.menuBar a:hover{
    text-decoration: underline;
    color: #808080;
}

.heroPart{
    width: 90%;
    height: 95vh;
    margin: auto;
    display: flex;
}

.profileImg{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.heroText{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.heroWord{
    text-align: center;
    margin-right: 130px;
}

.heroWord p{
    font-size: 16px;
    font-weight: 600;
    color: #808080;
}

.heroWord h1{
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.heroWord h3{
    font-size: 28px;
    font-weight: 600;
    color: #808080;
}

.btn{
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.myBtn1{
    border: 1px solid #555555;
    background-color: transparent;
    padding: 15px 16px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: 500;
}

.myBtn1:hover{
    color: white;
    background-color: #555555;
}

.myBtn2{
    border: 1px solid black;
    background-color: #555555;
    color: white;
    padding: 15px 16px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: 500;
}

.myBtn2:hover{
    color: white;
    background-color: #000000;
}

#aboutText{
    text-align: center;
}

.myFont{
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    gap: 20px;    
}

.myFont a{
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    border-radius: 50px;
}

#Experience{
    text-align: center;
}

.ptext{
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}

.aboutMe{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
}

.mySelf{
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
}

.myImg{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    border-radius: 20px;
}

.details{
    width: 50%;
    height: 100%;
}

.aboutExprience{
    width: 100%;
    height: 200px;
    display: flex;
    gap: 20px;
    margin-top: 80px;
}
   
.experience{
    width: 50%;;
    height: 80%;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}

.iconic{
    font-size: 26px;
    margin-top: 20px;
}

.experience h3{
    font-size: 19px;
    font-weight: 700;
    color: #000000;
}

.exprience p{
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}

.education{
    width: 50%;;
    height: 80%;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}

.Lorem{
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}

.scrol{
    margin-left: 620px;
}

.iDown{
    font-size: 50px;
    color: black;
}

#Project{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;

}

.developer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 0px;
}

.Development1{
    width: 50%;
    height: 100%;
}

.frontEnd{
    width: 90%;
    border: 1px solid black;
    border-radius: 30px;
}

.frontEnd h1{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
    color: #555555;
}

.dlist{
    width: 80%;
    height: 30px;
    margin: auto;
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 40px;
}

.html{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.cIcon{
    color: black;
    font-size: 20px;
}

.htmlExperience h1{
    font-size: 19px;
    font-weight: 700;
    color: #000000;
}

.htmlExperience p{
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}

.css{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.Development2{
    width: 50%;
    height: 100%;
}

.backEnd{
    width: 90%;
    border: 1px solid black;
    border-radius: 30px;
}

.backEnd h1{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
    color: #555555;
}

.projectBox{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    gap: 30px;
}

.proBox1{
    width: 50%;
    height: 100%;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}

.proImg{
    margin-top: 30px;
    border-radius: 30px;
}

.proBox1 h1{
    font-size: 28px;
    font-weight: 600; 
    color: #000000;
    margin-top: 10px;
}

.proBtn1{
    width: 120px;
    border: 1px solid #555555;
    background-color: transparent;
    padding: 15px 16px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 600;
    color: black;
}

.proBtn1:hover{
    color: white;
    background-color: #555555;
}

.proBtn2{
    width: 120px;
    border: 1px solid #555555;
    background-color: transparent;
    padding: 15px 16px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    color: black;
}

.proBtn2:hover{
    color: white;
    background-color: #555555;
}

.proBox2{
    width: 50%;
    height: 100%;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}

.scrol2{
    margin-left: 1300px;
}

.projectBox2{
    width: 90%;
    height: 900px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}

#Contact{
    text-align: center;
    margin-top: 30px;
}

.mail{
    width: 700px;
    height: 70px;
    margin: auto;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    gap: 50px;
}

.mailBox{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.mailBox a{
    text-decoration: none;
    color: #000000;
}

.mailBox2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.mailBox2 a{
    text-decoration: none;
    color: #000000;
}

.footerBar{
    width: 60%;
    height: 80px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 400;
    font-size: 24px;
}

.footerBar a{
    text-decoration: none;
    color: #000000;
}

.footerBar a:hover{
    text-decoration: underline;
    color: #808080;
}








